.dropdown {
    display: inline-block;
}
.text-xs {
    font-size: .75rem!important;
}
.text-sm {
    font-size: .875rem!important;
}

.font-semibold {
    font-weight: 500!important;
}
.text-muted {
    --x-text-opacity: 1;
}

.text-muted, .text-muted-focus:focus, .text-muted-hover:hover {
    color: rgba(var(--x-muted-rgb),var(--x-text-opacity))!important;
}

.dropdown-menu-end {
    left: auto;
    right: 0;
}