@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css");

:host {
	font-family: "Roboto", sans-serif;

	margin-top: 20px;
	background: #eee;
}

.contacts li > .info-combo > h3.name {
	font-size: 12px;
}

.contacts li .message-time {
	text-align: right;
	display: block;
	margin-left: -15px;
	width: 70px;
	height: 25px;
	line-height: 28px;
	font-size: 14px;
	font-weight: 600;
	padding-right: 5px;
}
.contacts li > .info-combo > h5 {
	width: 180px;
	font-size: 12px;
	height: 28px;
	font-weight: 500;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
}

.contacts li > .info-combo > h3 {
	width: 167px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info-combo > h3 {
	margin: 3px 0;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.info-combo > h5 {
	margin: 2px 0 6px 0;
}
/* Messages */

.medium-image {
	width: 45px;
	height: 45px;
	margin-right: 5px;
}

.img-circle {
	border-radius: 50%;
}

.message-body {
	background-color: #fbfcff;
	height: 100%;
	width: calc(100% - 305px);
	float: right;
}

.chat-footer.new-message-textarea {
	display: block;
	position: relative;
	padding: 0 10px;
}

.chat-footer.new-message-textarea .send-message-button {
	right: 35px;
}

.chat-footer.new-message-textarea .upload-file {
	right: 85px;
}

.chat-footer.new-message-textarea .send-message-text {
	padding-right: 100px;
	height: 90px;
}

.message-chat {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat-body {
	width: 100%;
	min-height: 290px;
	background-color: #fbfcff;
	margin-bottom: 30px;
	max-height: calc(100% - 100px);
	position: absolute;
	overflow-x: hidden;
}

.message {
	position: relative;
	width: 100%;
}

.message br {
	clear: both;
}

.message .message-body {
	position: relative;
	width: auto;
	max-width: calc(100% - 150px);
	float: left;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dbe3e8;
	margin: 0 5px 20px 15px;
	color: #788288;
	overflow-x: hidden;
}

.message:after {
	content: "";
	position: absolute;
	top: 11px;
	left: 63px;
	float: left;
	z-index: 100;
	border-top: 10px solid transparent;
	border-left: none;
	border-bottom: 10px solid transparent;
	border-right: 13px solid #fff;
}

.message:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 62px;
	float: left;
	z-index: 99;
	border-top: 11px solid transparent;
	border-left: none;
	border-bottom: 11px solid transparent;
	border-right: 13px solid #dbe3e8;
}

.message .medium-image {
	float: left;
	margin-left: 10px;
}

.message .message-info {
	width: 100%;
	height: 22px;
}

.message .message-info > h5 > i {
	font-size: 11px;
	font-weight: 700;
	margin: 0 2px 0 0;
	color: #a2b8c5;
}

.message .message-info > h5 {
	color: #a2b8c5;
	margin: 8px 0 0 0;
	font-size: 12px;
	float: right;
	padding-right: 10px;
}

.message .message-info > h4 {
	font-size: 14px;
	font-weight: 600;
	margin: 7px 13px 0 10px;
	color: #65addd;
	float: left;
}

.message hr {
	margin: 4px 2%;
	width: 96%;
	opacity: 0.75;
}

.message .message-text {
	text-align: left;
	padding: 3px 13px 10px 13px;
	font-size: 14px;
}

.message.my-message .message-body {
	float: right;
	margin: 0 15px 20px 5px;
}

.message.my-message:after {
	content: "";
	position: absolute;
	top: 11px;
	left: auto;
	right: 63px;
	float: left;
	z-index: 100;
	border-top: 10px solid transparent;
	border-left: 13px solid #fff;
	border-bottom: 10px solid transparent;
	border-right: none;
}

.message.my-message:before {
	content: "";
	position: absolute;
	top: 10px;
	left: auto;
	right: 62px;
	float: left;
	z-index: 99;
	border-top: 11px solid transparent;
	border-left: 13px solid #dbe3e8;
	border-bottom: 11px solid transparent;
	border-right: none;
}

.message.my-message .medium-image {
	float: right;
	margin-left: 5px;
	margin-right: 10px;
}

.message.my-message .message-info > h5 {
	float: left;
	padding-left: 10px;
	padding-right: 0;
}

.message.my-message .message-info > h4 {
	float: right;
}

.message.info .message-body {
	background-color: #2da9e9;
	border: 1px solid #2da9e9;
	color: #fff;
}

.message.info:after,
.message.info:before {
	border-right: 13px solid #2da9e9;
}

.message.success .message-body {
	background-color: #0ec8a2;
	border: 1px solid #0ec8a2;
	color: #fff;
}

.message.success:after,
.message.success:before {
	border-right: 13px solid #0ec8a2;
}

.message.warning .message-body {
	background-color: #ff9e2a;
	border: 1px solid #ff9e2a;
	color: #fff;
}

.message.warning:after,
.message.warning:before {
	border-right: 13px solid #ff9e2a;
}

.message.danger .message-body {
	background-color: #f95858;
	border: 1px solid #f95858;
	color: #fff;
}

.message.danger:after,
.message.danger:before {
	border-right: 13px solid #f95858;
}

.message.dark .message-body {
	background-color: #314557;
	border: 1px solid #314557;
	color: #fff;
}

.message.dark:after,
.message.dark:before {
	border-right: 13px solid #314557;
}

.message.info .message-info > h4,
.message.success .message-info > h4,
.message.warning .message-info > h4,
.message.danger .message-info > h4,
.message.dark .message-info > h4 {
	color: #fff;
}

.message.info .message-info > h5,
.message.info .message-info > h5 > i,
.message.success .message-info > h5,
.message.success .message-info > h5 > i,
.message.warning .message-info > h5,
.message.warning .message-info > h5 > i,
.message.danger .message-info > h5,
.message.danger .message-info > h5 > i,
.message.dark .message-info > h5,
.message.dark .message-info > h5 > i {
	color: #fff;
	opacity: 0.9;
}

.chat-footer {
	position: absolute;
	width: calc(100% - 200px);
	top: calc(100% - 80px);
	padding: 0px 80px 0px 80px;
	// background-color: white;
	max-width: 100%;
	overflow-x: hidden;
}

.chat-footer .send-message-text {
	position: relative;
	display: block;
	width: calc(100% - 30px);
	min-height: 55px;
	max-height: 75px;
	background-color: #fff;
	border-radius: 5px;
	font-size: 13px;
	resize: vertical;
	outline: none;
	border: 1px solid #e0e6eb;
	font-family: "Roboto", sans-serif;
}

.chat-footer .send-message-button {
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, 0.05);
	outline: none;
	font-weight: 600;
	border-radius: 50%;
	padding: 0;
	opacity: 0.5;
	background-color: inherit;
}

.chat-footer .send-message-button > i {
	font-size: 16px;
	margin: 0 0 0 -2px;
}

.chat-footer label.upload-file input[type="file"] {
	position: fixed;
	top: -1000px;
}

.chat-footer .upload-file {
	display: block;
	position: absolute;
	right: 60px;
	height: 30px;
	font-size: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
	// opacity: 0.25;
}

@media screen and (max-width: 767px) {
	.messages-panel {
		min-width: 0;
		display: inline-block;
	}

	.message-body {
		width: 100%;
		margin: 20px 0;
		border: 1px solid #dce2e9;
		background-color: #fff;
	}

	.message .message-body {
		max-width: calc(100% - 85px);
	}

	.chat-footer {
		width: calc(100% - 100px);

		padding: 0px 80px 0px 0px;
	}

	.chat-footer .send-message-button {
		right: 10px;
	}

	.chat-footer .upload-file {
		right: 60px;
	}
}

/* Profile page */
